:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2c2a2a; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root{
  width: 100%;
  display: flex;
  place-items: center;
  
}

/* ////////
NAV START
/////////*/

nav{
  background-color: #2c2a2a;
  padding: 1em; 
  display: flex;
  align-items: flex-start;
}
nav h1{
  font-size: 2rem;
}
.nav_text span{
  font-weight: 600;
  color: rgb(241, 56, 56);
}
.nav_text {
  font-weight: 600;
}

/* ////////
NAV END
/////////*/